.forecastSection {
  margin-top: 30px;
}

.forecastTitle {
  text-align: center;
  font-size: 2em;
  color: #c2d6eb;
  margin-bottom: 20px;
  font-weight: 600;
}

.forecastGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive grid */
  gap: 20px;
  justify-content: center;
}